* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body > h1 {
  color: #ffffff;
}

body,html {
  width: 80%;
  height: 100%;
  font-family: 'Outfit', sans-serif;
} 

body {
  padding: 2rem;
  background-image:url(fundo\ site.png);
  position: absolute;
  left: 10%;
  transform:auto;
 }

.header {
  width: fit-content;
  margin-bottom: 1rem;
}

.header > h1 {
  color: #fff;
}

.description {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.description h2 {
  margin-bottom: 1rem;
  color: #f3f2f2;
}

.description img {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}

.description img:hover {
 scale: 0.9;
 transition: all 300ms ease;
}

.description > p {
  width: fit-content;
  max-width: 80%;
  color: #fff;~

}

.footer img {
  background-color: #fff;
}

.footer > h2 {
  margin-bottom: 1rem;
  
  color: #f3f2f2;
}

.footer > ul {
  display: grid;
  gap: 0.5rem;
  list-style: none;
}

.footer > ul li > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.footer > ul li > a:hover {
  opacity: 0.5;
}
.footer > p {
  gap: 1rem;
  color: #fff;
}